
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family:'Oswald', sans-serif;
}
a {
    text-decoration: none;
    color:inherit;
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}
/* NAVBAR */
#navbar {
    width: 100%;
    background: #111;
    color: #eee;
    height: 80px;
    position: fixed;
}

.logo {
    font-size: 2rem;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-itens{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

#navbar-itens li {
    padding: 10px;
}

/* SHOWCASE */

#showcase {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url(../img/showcase2.png) no-repeat center center/cover;
    /* OVERLAY */
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: color;
}

#showcase-container {
    text-align: center;
}
#showcase-container h2 {
    font-size: 2.5rem;
}
#showcase-container p {
    font-size: 1.2rem;
    padding: 10px 0;
}

/* PORQUE */
#porque {
    width: 100%;
    background: #eee;
    color: #111;
    padding: 50px;
}

#porque-container {
    width: 100%;
    margin: auto;
    display: grid;
    text-align: center;
}

.porque-title {
    font-size:1.2rem;
}

/* COMO */

#features {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;
}

#features-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
}

.feature {
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 20px;
    border-radius: 5px;
}

.feature-title {
    font-size: 1.5rem;
    font-weight: bold;
}
 
/* PRODUCT*/
#product {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url(../img/smartphone.png) no-repeat center center/cover;
    /* OVERLAY */
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: color;
}

#product-container {
    text-align: center;
}


#itens {
    text-align: center;
}
#itens h2{
    font-size: 2.5rem;
}
#itens p {
    font-size: 1.2rem;
    padding: 10px 0;
}

/* FOOTER */
#footer {
    background:#111;
    color: #eee;
    padding: 30px;
    text-align: center;
}